<!DOCTYPE html>
<html>
  <head>
    <title>班级信息</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <!-- <a href="/"><button type="button" class="btn btn-lg">点击返回详情</button></a> -->
  <a class="btn btn-danger" href="/" role="button">回到首页</a>